In [1]:
print("Hello World!")

Hello World!

# CA
## Subject:
### Student: Vitalis Smirnovs
### Student ID:

#### Document Outline:
1. Introduction;
2. Data and Methods;
3. Regression Analysis;
4. Machine Learning;
5. Discussion of Results and Conclusion.

1. Introduction

1.1. Crop Yeld In Ireland <br>
1.2. Data: Source and Description <br>
1.3. Methods <br>

In [7]:
# import libraries that are needed for this project
import numpy as np 
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as pltpy
import seaborn as sns
import scipy.stats as stats
import termcolor
from termcolor import colored
#from astroML.plotting import setup_text_plots
#import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
%matplotlib inline
from scipy.optimize import curve_fit
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import pickle

In [8]:
# https://forums.fast.ai/t/jupyter-notebook-enhancements-tips-and-tricks/17064/5
# these are the functions to help to make output look nicer and easier to read
from IPython.display import Markdown, display

def printmd(string):
    display(Markdown(string))                                           # for printing in bold

def printmd(string, color=None):                                               
    colorstr = "<span style='color:{}'>{}</span>".format(color, string)  # printing in colour
    display(Markdown(colorstr))

In [9]:
# data source: https://data.gov.ie/dataset/aqa03-crop-yield-1985-2007/resource/2bebaae8-f9a0-4080-9e67-a1f2e130a943
df = pd.read_csv('dataCA2.csv') # read in the data into a dataframe
df                                      # display dataframe

,STATISTIC,Statistic,TLIST(A1),Year,C02039V02469,Type of Crop,UNIT,VALUE
0,AQA03C1,Area under Crops,1985,1985,1,"Total wheat, oats and barley",000 Hectares,386.2
1,AQA03C1,Area under Crops,1985,1985,11,Total wheat,000 Hectares,77.7
2,AQA03C1,Area under Crops,1985,1985,111,Winter wheat,000 Hectares,60.3
3,AQA03C1,Area under Crops,1985,1985,112,Spring wheat,000 Hectares,17.4
4,AQA03C1,Area under Crops,1985,1985,12,Total oats,000 Hectares,24.9
...,...,...,...,...,...,...,...,...
1168,AQA03C3,Crop Yield,2007,2007,4,Potatoes,000 Tonnes,399.0
1169,AQA03C3,Crop Yield,2007,2007,5,Turnips,000 Tonnes,NaN
1170,AQA03C3,Crop Yield,2007,2007,61,Sugar beet,000 Tonnes,NaN
1171,AQA03C3,Crop Yield,2007,2007,62,Fodder beet,000 Tonnes,NaN
1172,AQA03C3,Crop Yield,2007,2007,7,Kale and field cabbage,000 Tonnes,NaN

In [10]:
# have a look at the data, to see what it looks like
printmd("**Table 1: Data info**", color='red')      
print("----------------------------------")
print(df.info())                                    # print data info on screen

printmd("**Table 2: Data head**", color='red')     
print("----------------------------------")
print(df.head())                                    # view top of the data set

printmd("**Table 3: Data tail**", color='red')
print("----------------------------------")
print(df.tail())                                    #view bottom of the data set#
printmd("**Table 4: Data Summary Stats**", color='red')                 # print table numbers and headings
printmd("----------------------------------------------", color='red')  # separate output by a line
print(df.describe())

<span style='color:red'>**Table 1: Data info**</span>

----------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1173 entries, 0 to 1172
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATISTIC     1173 non-null   object
 1   Statistic     1173 non-null   object
 2   TLIST(A1)     1173 non-null   int64
 3   Year          1173 non-null   int64
 4   C02039V02469  1173 non-null   int64
 5   Type of Crop  1173 non-null   object
 6   UNIT          1173 non-null   object
 7   VALUE         1104 non-null   float64
dtypes: float64(1), int64(3), object(4)
memory usage: 73.4+ KB
None

<span style='color:red'>**Table 2: Data head**</span>

----------------------------------
  STATISTIC         Statistic  TLIST(A1)  Year  C02039V02469  \
0   AQA03C1  Area under Crops       1985  1985             1
1   AQA03C1  Area under Crops       1985  1985            11
2   AQA03C1  Area under Crops       1985  1985           111
3   AQA03C1  Area under Crops       1985  1985           112
4   AQA03C1  Area under Crops       1985  1985            12

                   Type of Crop          UNIT  VALUE
0  Total wheat, oats and barley  000 Hectares  386.2
1                   Total wheat  000 Hectares   77.7
2                  Winter wheat  000 Hectares   60.3
3                  Spring wheat  000 Hectares   17.4
4                    Total oats  000 Hectares   24.9

<span style='color:red'>**Table 3: Data tail**</span>

----------------------------------
     STATISTIC   Statistic  TLIST(A1)  Year  C02039V02469  \
1168   AQA03C3  Crop Yield       2007  2007             4
1169   AQA03C3  Crop Yield       2007  2007             5
1170   AQA03C3  Crop Yield       2007  2007            61
1171   AQA03C3  Crop Yield       2007  2007            62
1172   AQA03C3  Crop Yield       2007  2007             7

                Type of Crop        UNIT  VALUE
1168                Potatoes  000 Tonnes  399.0
1169                 Turnips  000 Tonnes    NaN
1170              Sugar beet  000 Tonnes    NaN
1171             Fodder beet  000 Tonnes    NaN
1172  Kale and field cabbage  000 Tonnes    NaN

<span style='color:red'>**Table 4: Data Summary Stats**</span>

<span style='color:red'>----------------------------------------------</span>

         TLIST(A1)         Year  C02039V02469        VALUE
count  1173.000000  1173.000000   1173.000000  1104.000000
mean   1996.000000  1996.000000     53.529412   204.333062
std       6.636079     6.636079     53.361973   411.534975
min    1985.000000  1985.000000      1.000000     0.000000
25%    1990.000000  1990.000000      5.000000     7.100000
50%    1996.000000  1996.000000     13.000000    31.050000
75%    2002.000000  2002.000000    112.000000   158.425000
max    2007.000000  2007.000000    132.000000  2500.900000